<a href="https://colab.research.google.com/github/jimzxu/apache_ranger/blob/master/LearnPyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [118]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.appName("PysparkExample1") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()

In [0]:
df = spark.sparkContext.parallelize([(1,2,3,'a b c'),(4,5,6,'d e f'),(7,8,9, 'g h i')]) \
.toDF(['col1', 'col2', 'col3', 'col4'])

In [121]:
df.show()

+----+----+----+-----+
|col1|col2|col3| col4|
+----+----+----+-----+
|   1|   2|   3|a b c|
|   4|   5|   6|d e f|
|   7|   8|   9|g h i|
+----+----+----+-----+

In [122]:
df.columns

['col1', 'col2', 'col3', 'col4']

In [123]:
!ls -l sample_data/

total 55508
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Apr  3 16:24 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Apr  3 16:24 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Apr  3 16:24 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Apr  3 16:24 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md
-rw-r--r-- 1 root root       13 Apr 12 13:41 somefile.txt

In [0]:
with open('sample_data/anscombe.json', 'rt', encoding='utf-8') as f:
  data = f.read()

In [0]:
with open('sample_data/somefile.txt', 'wt', encoding='utf-8') as outfile:
  print('Hello world!', file=outfile)

In [126]:
!cat sample_data/somefile.txt

Hello world!

In [0]:
import io

In [128]:
s = io.StringIO()
s.write('Hello There\n')
print('This is a testing', file=s)
s.getvalue()

'Hello There\nThis is a testing\n'

In [0]:
import gzip

In [130]:
!mkdir sample
with gzip.open('sample/somefile.gz', 'wt') as zipf:
  zipf.write('some data in zip file')
!zcat sample/somefile.gz

mkdir: cannot create directory ‘sample’: File exists
some data in zip file

In [0]:
import os

In [132]:
path = '/content/sample/data/data.csv'
os.path.basename(path)
os.path.dirname(path)
os.path.join('tmp','data', os.path.basename(path))
os.path.splitext(path)
os.path.split(path)

('/content/sample/data', 'data.csv')

In [133]:
os.path.exists('/content/')
os.path.isfile('/content/sample/somefile.gz')
os.listdir('/content/sample/')

['s2.json', 'somefile.gz', 's1.data']

In [0]:
import pickle
import json

In [135]:
data = {'key1':'value1', 'key2':'value2'}
with open('sample/s1.data','wb') as bfile:
  pickle.dump(data, bfile)

with open('sample/s2.json', 'wt') as jsonfile:
  json.dump(data, jsonfile)
!ls sample/
!cat sample/s2.json

s1.data  s2.json  somefile.gz
{"key1": "value1", "key2": "value2"}

In [0]:
import re

In [137]:
line = 'asdf fjdk;  afed, fjek,asdf,      fdah'
line_contents = re.split(r'[;,\s]\s*', line) 
fields = re.split(r'(,|;|\s)\s*', line)
values = fields[::2]
delimiters = fields[1::2]+['']
joined_fields = ''.join(v+d for v,d in zip(fields, delimiters))
text1 = '11/27/2012'
text2 = 'Nov 27, 2012'
if re.match(r'\d+/\d+/\d+', text1):
  print('yes')
else:
  print('no')
datepat = re.compile(r'\d+/\d+/\d+')
if datepat.match(text1):
  print('yes')
else:
  print('no')
datepat.findall(text1)
datepatm = re.compile(r'(\d+)/(\d+)/(\d+)')
m = datepatm.match('11/27/2012')
m.group(0)
m.group(1)
m.group(2)
m.group(3)
m.groups()

yes
yes

('11', '27', '2012')

In [138]:
filenames = os.listdir('sample/')
any(name.endswith('json') for name in filenames)

True

In [139]:
from fnmatch import fnmatch, fnmatchcase
fnmatch('foo.txt', '*.txt')
fnmatch('foo.txt', '?oo.txt')

True

In [140]:
text = 'yeah, but no, but yeah, but no, but yeah'
text.find('no')

10

In [141]:
text = 'UPPER PYTHON, lower python, Mixed Python'
re.findall('python', text, flags=re.IGNORECASE)
re.sub('python', 'snake', text, flags=re.IGNORECASE)

'UPPER snake, lower snake, Mixed snake'

In [142]:
s = '   hello world   \n'
s.strip()
s.lstrip()
s.rstrip()
re.sub('\s+', ' ', s)
print('a', 'b', 'c', sep=':')

a:b:c

Pyspark Receipts

https://kontext.tech/column/spark/316/pyspark-convert-python-arraylist-to-spark-data-frame

In [143]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

--2020-04-12 18:32:10--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘adult.data.8’

adult.data.8        100%[===================>]   3.79M  13.1MB/s    in 0.3s

2020-04-12 18:32:10 (13.1 MB/s) - ‘adult.data.8’ saved [3974305/3974305]

In [0]:
from pyspark.sql.types import StructType, DoubleType, StringType, IntegerType, StructField, ArrayType
# AdultDataSchema = StructType([
#     StructField('age', IntegerType(), True),
#     StructField('workclass', StringType(), True),
#     StructField('fnlwgt', DoubleType(), True),
#     StructField('education', StringType(), True),
#     StructField('education-num', DoubleType(), True),
#     StructField('marital-status', StringType(), True),
#     StructField('occupation', StringType(), True),
#     StructField('race', StringType(), True),
#     StructField('sex', StringType(), True),
#     StructField('capital-gain', DoubleType(), True),
#     StructField('capital-loss', DoubleType(), True),
#     StructField('hours-per-week', DoubleType(), True),
#     StructField('native-country', StringType(), True),
#     StructField('income', StringType(), True)
# ])

AdultDataSchema = StructType([
    StructField('age', IntegerType(), True),
    StructField('workclass', StringType(), True),
    StructField('fnlwgt', DoubleType(), True),
    StructField('education', StringType(), True),
    StructField('education-num', DoubleType(), True),
    StructField('marital-status', StringType(), True),
    StructField('occupation', StringType(), True),
    StructField('relationship', StringType(), True),
    StructField('race', StringType(), True),
    StructField('sex', StringType(), True),
    StructField('capital-gain', DoubleType(), True),
    StructField('capital-loss', DoubleType(), True),
    StructField('hours-per-week', DoubleType(), True),
    StructField('native-country', StringType(), True),
    StructField('income', StringType(), True)
])

censusDF = spark.read.csv('adult.data', schema=AdultDataSchema, nullValue='NA', header=False, sep=',')
##censusDF = spark.read.format("com.databricks.spark.csv").option("delimiter",",").option("quote","").option("header", "false").schema(AdultDataSchema).load('adult.data')

In [172]:
censusDF.show(5)
censusDF.printSchema()

+---+-----------------+--------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
|age|        workclass|  fnlwgt| education|education-num|     marital-status|        occupation|  relationship|  race|    sex|capital-gain|capital-loss|hours-per-week|native-country|income|
+---+-----------------+--------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
| 39|        State-gov| 77516.0| Bachelors|         13.0|      Never-married|      Adm-clerical| Not-in-family| White|   Male|      2174.0|         0.0|          40.0| United-States| <=50K|
| 50| Self-emp-not-inc| 83311.0| Bachelors|         13.0| Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|         0.0|         0.0|          13.0| United-States| <=50K|
| 38|          Private|215646.0|   HS-grad|          9.0|           Divorced| Handlers-cleaners| Not-in-family| White|   Male|         0.0|         0.0|          40.0| United-States| <=50K|
| 53|          Private|234721.0|      11th|          7.0| Married-civ-spouse| Handlers-cleaners|       Husband| Black|   Male|         0.0|         0.0|          40.0| United-States| <=50K|
| 28|          Private|338409.0| Bachelors|         13.0| Married-civ-spouse|    Prof-specialty|          Wife| Black| Female|         0.0|         0.0|          40.0|          Cuba| <=50K|
+---+-----------------+--------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
only showing top 5 rows

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: double (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: double (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital-gain: double (nullable = true)
 |-- capital-loss: double (nullable = true)
 |-- hours-per-week: double (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)

In [178]:
censusDF.groupby('income').count().show()
# censusDF.describe('age').show()
censusDF.groupby('sex').mean('age').show()

+------+-----+
|income|count|
+------+-----+
|  >50K| 7841|
| <=50K|24720|
+------+-----+

+-------+-----------------+
|    sex|         avg(age)|
+-------+-----------------+
|   Male|39.43354749885268|
| Female|36.85823043357163|
+-------+-----------------+